data/api_keys.cfg
data/kaggle_stock-market-dataset.zip
data/1_company_info/kaggle_all-us-stocks-tickers-company-info-logos.zip
src/get_fundamentals.py
data/1_company_info/logos/logos/UNH.png
data/1_company_info/logos/logos/UNFI.png
data/1_company_info/logos/logos/UNIT.png
data/1_company_info/logos/logos/UNL.png
data/1_company_info/logos/logos/UNM.png
data/1_company_info/logos/logos/UNP.png
data/1_company_info/logos/logos/UNVR.png
data/1_company_info/logos/logos/UONE.png
data/1_company_info/logos/logos/UONEK.png
data/1_company_info/logos/logos/UPLD.png
data/1_company_info/logos/logos/UPRO.png
data/1_company_info/logos/logos/UPS.png
data/1_company_info/logos/logos/UPV.png
data/1_company_info/logos/logos/UPW.png
data/1_company_info/logos/logos/UPWK.png
data/1_company_info/logos/logos/UQM.png
data/1_company_info/logos/logos/URBN.png
data/1_company_info/logos/logos/URE.png
data/1_company_info/logos/logos/URGN.png
data/1_company_info/logos/logos/URI.png
data/1_company_info/logos/logos/UROV.png
data/1_company_info/logos/logos/URR.png
data/1_company_info/logos/logos/URTH.png
data/1_company_info/logos/logos/URTY.png
data/1_company_info/logos/logos/USAK.png
data/1_company_info/logos/logos/USAS.png
data/1_company_info/logos/logos/USAT.png
data/1_company_info/logos/logos/USAU.png
data/1_company_info/logos/logos/USB.png
data/1_company_info/logos/logos/USCI.png
data/1_company_info/logos/logos/USD.png
data/1_company_info/logos/logos/USDP.png
data/1_company_info/logos/logos/USFD.png
data/1_company_info/logos/logos/USG.png
data/1_company_info/logos/logos/USIG.png
data/1_company_info/logos/logos/USL.png
data/1_company_info/logos/logos/USM.png
data/1_company_info/logos/logos/USMV.png
data/1_company_info/logos/logos/USPH.png
data/1_company_info/logos/logos/USRT.png
data/1_company_info/logos/logos/UST.png
data/1_company_info/logos/logos/USV.png
data/1_company_info/logos/logos/USWS.png
data/1_company_info/logos/logos/USX.png
data/1_company_info/logos/logos/UTF.png
data/1_company_info/logos/logos/UTI.png
data/1_company_info/logos/logos/UTL.png
data/1_company_info/logos/logos/UTMD.png
data/1_company_info/logos/logos/UTX.png
data/1_company_info/logos/logos/UUU.png
data/1_company_info/logos/logos/UUUU.png
data/1_company_info/logos/logos/UWM.png
data/1_company_info/logos/logos/UXI.png
data/1_company_info/logos/logos/UYG.png
data/1_company_info/logos/logos/UYM.png
data/1_company_info/logos/logos/VALE.png
data/1_company_info/logos/logos/VALU.png
data/1_company_info/logos/logos/VAPO.png
data/1_company_info/logos/logos/VAW.png
data/1_company_info/logos/logos/VB.png
data/1_company_info/logos/logos/VBF.png
data/1_company_info/logos/logos/VBIV.png
data/1_company_info/logos/logos/VBK.png
data/1_company_info/logos/logos/VBLT.png
data/1_company_info/logos/logos/VBR.png
data/1_company_info/logos/logos/VBTX.png
data/1_company_info/logos/logos/VC.png
data/1_company_info/logos/logos/VCEL.png
data/1_company_info/logos/logos/VCF.png
data/1_company_info/logos/logos/VCIT.png
data/1_company_info/logos/logos/VCLT.png
data/1_company_info/logos/logos/VCR.png
data/1_company_info/logos/logos/VCRA.png
data/1_company_info/logos/logos/VCSH.png
data/1_company_info/logos/logos/VCTR.png
data/1_company_info/logos/logos/VCV.png
data/1_company_info/logos/logos/VCYT.png
data/1_company_info/logos/logos/VDC.png
data/1_company_info/logos/logos/VDE.png
data/1_company_info/logos/logos/VEA.png
data/1_company_info/logos/logos/VEC.png
data/1_company_info/logos/logos/VECO.png
data/1_company_info/logos/logos/VEDL.png
data/1_company_info/logos/logos/VEEV.png
data/1_company_info/logos/logos/VEGA.png
data/1_company_info/logos/logos/VEGI.png
data/1_company_info/logos/logos/VEON.png
data/1_company_info/logos/logos/VER.png
data/1_company_info/logos/logos/VERI.png
data/1_company_info/logos/logos/VET.png
data/1_company_info/logos/logos/VFC.png
data/1_company_info/logos/logos/VG.png
data/1_company_info/logos/logos/VGI.png
data/1_company_info/logos/logos/VGM.png
data/1_company_info/logos/logos/VGR.png
data/1_company_info/logos/logos/VGZ.png
data/1_company_info/logos/logos/VIA.png
data/1_company_info/logos/logos/VIAB.png
data/1_company_info/logos/logos/VIAV.png
data/1_company_info/logos/logos/VICL.png
data/1_company_info/logos/logos/VICR.png
data/1_company_info/logos/logos/VIRC.png
data/1_company_info/logos/logos/VIRT.png
data/1_company_info/logos/logos/VISI.png
data/1_company_info/logos/logos/VIV.png
data/1_company_info/logos/logos/VIVE.png
data/1_company_info/logos/logos/VIVO.png
data/1_company_info/logos/logos/VIXM.png
data/1_company_info/logos/logos/VJET.png
data/1_company_info/logos/logos/VKI.png
data/1_company_info/logos/logos/VKQ.png
data/1_company_info/logos/logos/VKTX.png
data/1_company_info/logos/logos/VLO.png
data/1_company_info/logos/logos/VLRX.png
data/1_company_info/logos/logos/VLT.png
data/1_company_info/logos/logos/VLY.png
data/1_company_info/logos/logos/VMC.png
data/1_company_info/logos/logos/VMI.png
data/1_company_info/logos/logos/VMO.png
data/1_company_info/logos/logos/VMW.png
data/1_company_info/logos/logos/VNCE.png
data/1_company_info/logos/logos/VNDA.png
data/1_company_info/logos/logos/VNO.png
data/1_company_info/logos/logos/VNQI.png
data/1_company_info/logos/logos/VNRX.png
data/1_company_info/logos/logos/VO.png
data/1_company_info/logos/logos/VOC.png
data/1_company_info/logos/logos/VOD.png
data/1_company_info/logos/logos/VOE.png
data/1_company_info/logos/logos/VONE.png
data/1_company_info/logos/logos/VONG.png
data/1_company_info/logos/logos/VONV.png
data/1_company_info/logos/logos/VOOG.png
data/1_company_info/logos/logos/VOOV.png
data/1_company_info/logos/logos/VOT.png
data/1_company_info/logos/logos/VOX.png
data/1_company_info/logos/logos/VOXX.png
data/1_company_info/logos/logos/VOYA.png
data/1_company_info/logos/logos/VPL.png
data/1_company_info/logos/logos/VPU.png
data/1_company_info/logos/logos/VPV.png
data/1_company_info/logos/logos/VRA.png
data/1_company_info/logos/logos/VRAY.png
data/1_company_info/logos/logos/VRCA.png
data/1_company_info/logos/logos/VREX.png
data/1_company_info/logos/logos/VRNA.png
data/1_company_info/logos/logos/VRNT.png
data/1_company_info/logos/logos/VRRM.png
data/1_company_info/logos/logos/VRS.png
data/1_company_info/logos/logos/VRSK.png
data/1_company_info/logos/logos/VRSN.png
data/1_company_info/logos/logos/VRTS.png
data/1_company_info/logos/logos/VRTU.png
data/1_company_info/logos/logos/VRTV.png
data/1_company_info/logos/logos/VRTX.png
data/1_company_info/logos/logos/VSAT.png
data/1_company_info/logos/logos/VSEC.png
data/1_company_info/logos/logos/VSH.png
data/1_company_info/logos/logos/VSI.png
data/1_company_info/logos/logos/VSLR.png
data/1_company_info/logos/logos/VSM.png
data/1_company_info/logos/logos/VSS.png
data/1_company_info/logos/logos/VST.png
data/1_company_info/logos/logos/VSTM.png
data/1_company_info/logos/logos/VSTO.png
data/1_company_info/logos/logos/VT.png
data/1_company_info/logos/logos/VTA.png
data/1_company_info/logos/logos/VTGN.png
data/1_company_info/logos/logos/VTHR.png
data/1_company_info/logos/logos/VTI.png
data/1_company_info/logos/logos/VTIP.png
data/1_company_info/logos/logos/VTL.png
data/1_company_info/logos/logos/VTN.png
data/1_company_info/logos/logos/VTSI.png
data/1_company_info/logos/logos/VTV.png
data/1_company_info/logos/logos/VTWG.png
data/1_company_info/logos/logos/VTWO.png
data/1_company_info/logos/logos/VTWV.png
data/1_company_info/logos/logos/VUG.png
data/1_company_info/logos/logos/VUZI.png
data/1_company_info/logos/logos/VV.png
data/1_company_info/logos/logos/VVPR.png
data/1_company_info/logos/logos/VVR.png
data/1_company_info/logos/logos/VVV.png
data/1_company_info/logos/logos/VWO.png
data/1_company_info/logos/logos/VXF.png
data/1_company_info/logos/logos/VXUS.png
data/1_company_info/logos/logos/VYGR.png
data/1_company_info/logos/logos/VYM.png
data/1_company_info/logos/logos/VZ.png
data/1_company_info/logos/logos/W.png
data/1_company_info/logos/logos/WAB.png
data/1_company_info/logos/logos/WAFD.png
data/1_company_info/logos/logos/WAGE.png
data/1_company_info/logos/logos/WAIR.png
data/1_company_info/logos/logos/WAL.png
data/1_company_info/logos/logos/WASH.png
data/1_company_info/logos/logos/WAT.png
data/1_company_info/logos/logos/WATT.png
data/1_company_info/logos/logos/WBA.png
data/1_company_info/logos/logos/WBC.png
data/1_company_info/logos/logos/WBK.png
data/1_company_info/logos/logos/WBT.png
data/1_company_info/logos/logos/WCFB.png
data/1_company_info/logos/logos/WCG.png
data/1_company_info/logos/logos/WD.png
data/1_company_info/logos/logos/WDAY.png
data/1_company_info/logos/logos/WDC.png
data/1_company_info/logos/logos/WDFC.png
data/1_company_info/logos/logos/WDR.png
data/1_company_info/logos/logos/WEA.png
data/1_company_info/logos/logos/WEC.png
data/1_company_info/logos/logos/WELL.png
data/1_company_info/logos/logos/WEN.png
data/1_company_info/logos/logos/WERN.png
data/1_company_info/logos/logos/WES.png
data/1_company_info/logos/logos/WETF.png
data/1_company_info/logos/logos/WEX.png
data/1_company_info/logos/logos/WFT.png
data/1_company_info/logos/logos/WGO.png
data/1_company_info/logos/logos/WGP.png
data/1_company_info/logos/logos/WH.png
data/1_company_info/logos/logos/WHLM.png
data/1_company_info/logos/logos/WHR.png
data/1_company_info/logos/logos/WIA.png
data/1_company_info/logos/logos/WIFI.png
data/1_company_info/logos/logos/WIN.png
data/1_company_info/logos/logos/WINA.png
data/1_company_info/logos/logos/WISA.png
data/1_company_info/logos/logos/WIT.png
data/1_company_info/logos/logos/WIW.png
data/1_company_info/logos/logos/WIX.png
data/1_company_info/logos/logos/WK.png
data/1_company_info/logos/logos/WKHS.png
data/1_company_info/logos/logos/WLDN.png
data/1_company_info/logos/logos/WLH.png
data/1_company_info/logos/logos/WLK.png
data/1_company_info/logos/logos/WLL.png
data/1_company_info/logos/logos/WLTW.png
data/1_company_info/logos/logos/WM.png
data/1_company_info/logos/logos/WMB.png
data/1_company_info/logos/logos/WMCR.png
data/1_company_info/logos/logos/WMGI.png
data/1_company_info/logos/logos/WMK.png
data/1_company_info/logos/logos/WMS.png
data/1_company_info/logos/logos/WNC.png
data/1_company_info/logos/logos/WNEB.png
data/1_company_info/logos/logos/WNS.png
data/1_company_info/logos/logos/WOOD.png
data/1_company_info/logos/logos/WOR.png
data/1_company_info/logos/logos/WORX.png
data/1_company_info/logos/logos/WOW.png
data/1_company_info/logos/logos/WP.png
data/1_company_info/logos/logos/WPC.png
data/1_company_info/logos/logos/WPG.png
data/1_company_info/logos/logos/WPM.png
data/1_company_info/logos/logos/WPP.png
data/1_company_info/logos/logos/WPRT.png
data/1_company_info/logos/logos/WPS.png
data/1_company_info/logos/logos/WPX.png
data/1_company_info/logos/logos/WRB.png
data/1_company_info/logos/logos/WREI.png
data/1_company_info/logos/logos/WRI.png
data/1_company_info/logos/logos/WRK.png
data/1_company_info/logos/logos/WRLD.png
data/1_company_info/logos/logos/WRTC.png
data/1_company_info/logos/logos/WSBC.png
data/1_company_info/logos/logos/WSFS.png
data/1_company_info/logos/logos/WSM.png
data/1_company_info/logos/logos/WSO.B.png
data/1_company_info/logos/logos/WSO.png
data/1_company_info/logos/logos/WSR.png
data/1_company_info/logos/logos/WST.png
data/1_company_info/logos/logos/WSTL.png
data/1_company_info/logos/logos/WTBA.png
data/1_company_info/logos/logos/WTER.png
data/1_company_info/logos/logos/WTFC.png
data/1_company_info/logos/logos/WTMF.png
data/1_company_info/logos/logos/WTR.png
data/1_company_info/logos/logos/WTS.png
data/1_company_info/logos/logos/WTT.png
data/1_company_info/logos/logos/WTTR.png
data/1_company_info/logos/logos/WTW.png
data/1_company_info/logos/logos/WU.png
data/1_company_info/logos/logos/WUBA.png
data/1_company_info/logos/logos/WVE.png
data/1_company_info/logos/logos/WVVI.png
data/1_company_info/logos/logos/WWD.png
data/1_company_info/logos/logos/WWE.png
data/1_company_info/logos/logos/WY.png
data/1_company_info/logos/logos/WYND.png
data/1_company_info/logos/logos/WYNN.png
data/1_company_info/logos/logos/WYY.png
data/1_company_info/logos/logos/X.png
data/1_company_info/logos/logos/XBIO.png
data/1_company_info/logos/logos/XBIT.png
data/1_company_info/logos/logos/XEC.png
data/1_company_info/logos/logos/XEL.png
data/1_company_info/logos/logos/XELA.png
data/1_company_info/logos/logos/XENE.png
data/1_company_info/logos/logos/XENT.png
data/1_company_info/logos/logos/XERS.png
data/1_company_info/logos/logos/XFLT.png
data/1_company_info/logos/logos/XGTI.png
data/1_company_info/logos/logos/XHR.png
data/1_company_info/logos/logos/XIN.png
data/1_company_info/logos/logos/XLG.png
data/1_company_info/logos/logos/XLNX.png
data/1_company_info/logos/logos/XLRN.png
data/1_company_info/logos/logos/XNET.png
data/1_company_info/logos/logos/XOG.png
data/1_company_info/logos/logos/XOM.png
data/1_company_info/logos/logos/XOMA.png
data/1_company_info/logos/logos/XON.png
data/1_company_info/logos/logos/XONE.png
data/1_company_info/logos/logos/XPER.png
data/1_company_info/logos/logos/XPO.png
data/1_company_info/logos/logos/XPP.png
data/1_company_info/logos/logos/XRAY.png
data/1_company_info/logos/logos/XRX.png
data/1_company_info/logos/logos/XTNT.png
data/1_company_info/logos/logos/XXII.png
data/1_company_info/logos/logos/XYL.png
data/1_company_info/logos/logos/Y.png
data/1_company_info/logos/logos/YANG.png
data/1_company_info/logos/logos/YAO.png
data/1_company_info/logos/logos/YCL.png
data/1_company_info/logos/logos/YCS.png
data/1_company_info/logos/logos/YELP.png
data/1_company_info/logos/logos/YETI.png
data/1_company_info/logos/logos/YEXT.png
data/1_company_info/logos/logos/YGYI.png
data/1_company_info/logos/logos/YINN.png
data/1_company_info/logos/logos/YOGA.png
data/1_company_info/logos/logos/YORW.png
data/1_company_info/logos/logos/YPF.png
data/1_company_info/logos/logos/YTEN.png
data/1_company_info/logos/logos/YTRA.png
data/1_company_info/logos/logos/YUM.png
data/1_company_info/logos/logos/YVR.png
data/1_company_info/logos/logos/YXI.png
data/1_company_info/logos/logos/Z.png
data/1_company_info/logos/logos/ZAGG.png
data/1_company_info/logos/logos/ZAYO.png
data/1_company_info/logos/logos/ZBH.png
data/1_company_info/logos/logos/ZBIO.png
data/1_company_info/logos/logos/ZBRA.png
data/1_company_info/logos/logos/ZEAL.png
data/1_company_info/logos/logos/ZEN.png
data/1_company_info/logos/logos/ZEUS.png
data/1_company_info/logos/logos/ZF.png
data/1_company_info/logos/logos/ZFGN.png
data/1_company_info/logos/logos/ZG.png
data/1_company_info/logos/logos/ZGNX.png
data/1_company_info/logos/logos/ZION.png
data/1_company_info/logos/logos/ZIOP.png
data/1_company_info/logos/logos/ZIV.png
data/1_company_info/logos/logos/ZIXI.png
data/1_company_info/logos/logos/ZKIN.png
data/1_company_info/logos/logos/ZN.png
data/1_company_info/logos/logos/ZNGA.png
data/1_company_info/logos/logos/ZOM.png
data/1_company_info/logos/logos/ZS.png
data/1_company_info/logos/logos/ZSL.png
data/1_company_info/logos/logos/ZTR.png
data/1_company_info/logos/logos/ZTS.png
data/1_company_info/logos/logos/ZUMZ.png
data/1_company_info/logos/logos/ZUO.png
data/1_company_info/logos/logos/ZYME.png
data/1_company_info/logos/logos/ZYNE.png
